@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply antialiased bg-background-default;
}
header {
    @apply sticky top-0 bg-white shadow z-50;
}
header .stack {
    @apply px-4 sm:px-8 py-1.5 flex justify-between border-b border-gray-100;
}
header nav {
    @apply px-4 sm:px-8 flex flex-wrap gap-3 overflow-hidden;
}
.nav-item {
    @apply flex gap-2 pt-3 pb-2 px-1.5 text-nowrap text-sm font-medium border-transparent text-gray-700 hover:text-gray-900 border-b-2;
}
.nav-item.active {
    @apply border-primary-700;
}
.nav-item:hover {
    @apply border-primary-700;
}
.nav-dropdown {
    @apply absolute left-0 sm:left-auto w-full sm:w-44 text-sm rounded-b py-1 bg-white border-t shadow;
}
.nav-dropdown a {
    @apply flex w-full my-1 py-1.5 px-2 border-l-2 border-transparent hover:bg-gray-50 hover:border-primary-700;
}

main {
    @apply p-4 sm:p-6;
}

main .header {
    @apply flex justify-between items-center mb-6;
}

h1 {
    @apply text-xl font-bold;
}

.card-header {
    @apply -mx-4 px-4 flex items-center text-gray-800 font-semibold;
}

.card-footer {
    @apply mt-2 pt-2 flex items-center space-x-6;
}

table {
    @apply w-full;
}

.table-header {
    @apply px-4 py-2 flex items-center text-gray-800 font-semibold;
}

table thead {
    @apply bg-gray-200;
}

table thead tr {
    @apply border-b;
}

table thead th {
    @apply text-left font-medium uppercase;
}

table tbody tr {
    @apply border-b;
}

table tbody tr:hover {
    @apply bg-gray-100;
}

th, td {
    @apply p-3 text-sm text-nowrap;
}

.detail {
    @apply space-y-4;
}

.detail > div {
    @apply flex justify-between items-center;
}

dl {

}
dt {
    @apply text-sm font-semibold text-copy-light;
}
dd {
    @apply font-semibold text-copy-default;
}

.screen {
    height: calc(100vh - 220px);
}

/*
.with-header {
    @apply mt-14;
}

section {
    @apply mt-6 mx-4 md:mx-6;
}


.min-screen {
    min-height: calc(100vh - 190px);
}

.max-screen {
    max-height: calc(100vh - 190px);
}
*/
